<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="ACME_logo.png" width="100" alt="ACME Logo">
  </a>
  <div>
    <h1 id="titulo">{{ title()}}</h1>
    <!--{{ 'Titulo' + title() }}
    {{ 'Titulo' + getTitle() }}
    {{2*20 +1}}
    <h1 innerText={{ title() }}></h1> -->
  </div>
</nav>
<!--<app-product-list [datos]="filteredProducts()"></app-product-list> -->

<div class="row">
  <div class="col-md-2">Filtrar por:</div>
  <div class="col-md-2">
    <input type="text" [ngModel]="listFilter()" (ngModelChange)="listFilter.set($event)">
  </div>
  <div class="col-md-4">
    Filtrado por: {{ listFilter() }}
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary" (click)="abrirModal()">
      Crear Producto
    </button>
  </div>
  <br>
  <app-modal-add *ngIf="isModalOpen()" (close)="onModalClose($event)"></app-modal-add>
  <br>
  <div class="col-md-2">
    Dato recibido: {{ datoRecibido() }}
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="toggleChildren()">
      <i class="bi bi-eye"></i>
      {{ showChildren() ? 'Ocultar' : 'Mostrar' }} Hijo
    </button>
  </div>
</div>

<br>
<app-product-list *ngIf="showChildren()" [datos]="filteredProducts()" (datoEmitido)="datoRecibido.set($event)"></app-product-list>
<br>
<br>
<app-product-list
  [datos]="filteredProducts()"
  (updatedProducts)="onProductsUpdated($event)">
</app-product-list>
<br>
